<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>batman</title>
    <link rel="stylesheet" href=" {% static 'Dc/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Dc/css/bootstrap.min.css' %}">
</head>
<body>
    <h1>Batman</h1>
    <img src="{% static 'Dc/images/batman.jpg' %}"  alt="">
    <h2>Dc heros are {{d}}</h2>
    <table border = 2px>
        <tr>
            <th>Name</th>
            <th>Heroic Name</th>
            <th>City</th>
        </tr>
        {% for hero in d  %}
        <tr>
            <td>{{hero.name}}</td>
            <td>{{hero.heroic_name}}</td>
            <td>{{hero.city}}</td>    
        </tr>
        {% endfor %}
    </table>
    <script src="{% static 'Dc/js/bootstrap.min.js' %}"></script>
</body>
</html>